__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/
env/
*.db
*.sqlite3
.DS_Store
.vscode/
.idea/
dist/
build/
*.egg-info/
watch_folder/system_a/*.xlsx
watch_folder/system_b/*.xlsx
watch_folder/system_a/old/
watch_folder/system_b/old/
